In [31]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

record = json.loads(r)

In [3]:
record

{'2314S': {'dis': 10,
  'name': 'radio',
  'pr': 1500,
  'qn': 40,
  'quality': 'good'},
 '23TT4': {'color': 'blue', 'dis': 20, 'name': 'bottle', 'pr': 340, 'qn': 50},
 '24ABB324W0031010': {'company': 'lloyd',
  'dis': 100,
  'name': 'AC',
  'pr': 60000,
  'qn': 80},
 'B12G4': {'Quality': 'good', 'dis': 50, 'name': 'bag', 'pr': 750, 'qn': 20},
 'B142D': {'color': 'red', 'dis': 50, 'name': 'bed', 'pr': 25000, 'qn': 12},
 'B412': {'dis': 10,
  'frame': 'rectangular',
  'name': 'sceneary',
  'pr': 650,
  'qn': 60},
 'BD92S': {'color': 'red', 'dis': 15, 'name': 'bedsheet', 'pr': 550, 'qn': 35},
 'C9-I2': {'compny': 'dairy milk',
  'dis': 10,
  'name': 'chocolate',
  'pr': 230,
  'qn': 120},
 'E12L': {'company': 'voltas',
  'dis': 50,
  'name': 'cooler',
  'pr': 17000,
  'qn': 24},
 'E252': {'color': 'red', 'dis': 10, 'name': 'cycle', 'pr': 6000, 'qn': 72},
 'ER124': {'color': 'pink',
  'dis': 10,
  'name': 'earphone',
  'pr': 250,
  'qn': 50},
 'F312': {'company': 'orient',
  'dis': 10,
  'name': 'fan',
  'pr': 1200,
  'qn': 100},
 'IR13': {'company': 'triveni',
  'dis': 30,
  'name': 'almirah',
  'pr': 26000,
  'qn': 22},
 'JC50Q-5': {'company': 'swift dezire',
  'dis': 200,
  'name': 'car',
  'pr': 2000000,
  'qn': 80},
 'JN212': {'color': 'dark blue',
  'dis': 50,
  'name': 'Jeans',
  'pr': 1000,
  'qn': 60},
 'LEN423': {'color': 'blue',
  'discount': 20,
  'name': 'sumsung mobile',
  'pr': 22000,
  'qn': 15},
 'P12': {'color': 'blue', 'dis': 10, 'name': 'pot', 'pr': 220, 'qn': 124},
 'R0192': {'color': 'blue', 'dis': 20, 'name': 'Tshirt', 'pr': 550, 'qn': 120},
 'RA4S': {'company': 'LG', 'dis': 10, 'name': 'tv', 'pr': 27000, 'qn': 20},
 'RD34': {'dis': 30,
  'name': 'books',
  'poetry': 'the heart is lonely',
  'pr': 620,
  'qn': 12},
 'RK4S': {'comapny': 'Hero', 'dis': 30, 'name': 'bike', 'pr': 92000, 'qn': 20},
 'RT42T5C5EDX': {'company': 'LG',
  'dis': 12,
  'name': 'Fridge',
  'pr': 2494.89,
  'qn': 90},
 'S13': {'company': 'bajaj', 'dis': 5, 'name': 'bulb', 'pr': 400, 'qn': 250},
 'S21C': {'company': 'pleasure',
  'dis': 100,
  'name': 'scooty',
  'pr': 812640,
  'qn': 24},
 'SM92S': {'color': 'black',
  'dis': 50,
  'name': 'laptop ',
  'pr': 45000,
  'qn': 22},
 'SON101': {'dis': 30,
  'name': 'Charges',
  'pr': 450,
  'qn': 62,
  'quality': 'good'},
 'W21T': {'company': 'sunrise',
  'dis': 15,
  'name': 'watch',
  'pr': 600,
  'qn': 240},
 'WALTUS': {'dis': 20,
  'name': 'Battery',
  'pr': 900,
  'qn': 40,
  'warranty': '2 years'},
 'WINDO3': {'dis': 80,
  'name': 'sofa',
  'pr': 80000,
  'qn': 90,
  'quality': 'good'},
 'WM423': {'company': 'LG',
  'dis': 40,
  'name': 'washing machine',
  'pr': 15000,
  'qn': 24}}

In [26]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", record[ui_prod]['name'])
print("Price: ", record[ui_prod]['pr'])
print("Billing Amount: ", record[ui_prod]['pr'] * ui_quant)

print("discount: ", record[ui_prod]['dis'])
record[ui_prod]['qn'] = record[ui_prod]['qn'] - ui_quant

Enter the product_Id: B12G4
Enter the quantity: 20
Product:  bag
Price:  750
Billing Amount:  15000
discount:  50

**Update Inventory after purchase**

In [18]:
js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**Sales JSON**

In [19]:
{'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}

{'amount': 37500, 'prod': 'B12G4', 'qn': 50}

In [30]:
sales = {1 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         2: {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant},
         3 : {'prod' : ui_prod, 'qn' : ui_quant, 'amount': record[ui_prod]['pr'] * ui_quant}}

In [27]:
sale = json.dumps(sales)